* {
  box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFA033;
    border: 3px solid gold;
}

.navbar {
  border-radius: 30px;
  background: #321065 !important;
}

.navbar-light .navbar-brand {
  color: white;
  font-family: cursive;
  font-size: 2em;
}

.navbar-light .navbar-toggler {
  background-color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

div#navbarNav.navbar-collapse.collapse {
  justify-content: center;
}

a.nav-link {
  text-align: center;
}

.list-group {
  display: inline;
  text-align: center;
}

 li {
  list-style: none;
  width: 150px;
  display: inline-block;
}

div#poke-container.modal.show {
  left: 190px;
  top: -110px;
  transform: scale(.7);
}

div.modal-header h1{
  text-transform: capitalize;
  color: #321065;
}

div.modal-body {
  text-align: center;
}

div.modal-body p {
  color: #321065;
  letter-spacing: 1px;
}

div.col.list-div {
  margin-top: 10px;
}

img.modal-img {
  width: auto;
}

.modal-title {
  font-family: cursive;
}

.btn-primary {
  margin: 1px;
  background-color: #321065;
  border: none;
  border-radius: 5px;
}


.btn-form {
    background-color: #FFD4A8;
    color: #321065;
}

button.btn.btn-form {
  margin-bottom: 5px;
}

/*     FORM     */
.input-wrapper {
    margin-bottom: 10px;
}
  
label {
display: block;
min-width: 75px;
padding-bottom: .3px;
margin-bottom: 0;
font-family: cursive;
font-size: 15px;
}

.error-message {
color: red;
font-size: 0.8em;
}

img {
    width: 20%;
    height: 20%;
}
footer {
    text-align: center;
    background-color: #321065;
    color: white;
    padding: 20px;
    border-radius: 50px;
    padding: 5px;
    font-weight: 100;
    border: 1px solid pink;
}

@media all and (min-width: 1024px) and (max-width: 2000px) {
  div.modal {
    margin-top: 200px;
  }

  nav.navbar.navbar-expand-xl.navbar-light.bg-light {
    justify-content: center;
  }

  ul.navbar-nav {
    align-items: center;
  }

  div#poke-container.modal.show{
    left: 10px;
  }

  a.nav-link {
    text-align: center;
  }

  div.col {
    text-align: center;
    font-size: 20px;
  }

  div.row.form {
    text-align: center;
    justify-content: center;
  }
 }
 
@media all and (min-width: 768px) and (max-width: 1024px) { 
  div.modal {
    margin-top: 200px;
  }

  nav.navbar.navbar-expand-xl.navbar-light.bg-light {
    justify-content: center;
  }

  ul.navbar-nav {
    align-items: center;
  }

  div#poke-container.modal.show{
    left: 10px;
  }

  a.nav-link {
    text-align: center;
  }

  div.col {
    text-align: center;
    font-size: 20px;
  }

  div.row.form {
    text-align: center;
    justify-content: center;
  }
}
 
@media all and (min-width: 340px) and (max-width: 768px) { 
  div.modal {
    margin-top: 200px;
  }

  nav.navbar.navbar-expand-xl.navbar-light.bg-light {
    justify-content: center;
  }

  ul.navbar-nav {
    align-items: center;
  }

  div#poke-container.modal.show{
    left: 10px;
  }

  a.nav-link {
    text-align: center;
  }

  div.col {
    text-align: center;
    font-size: 20px;
  }

  div.row.form {
    text-align: center;
    justify-content: center;
  }
}
 
@media all and (max-width: 340px) {
  div.modal {
    margin-top: 200px;
  }

  nav.navbar.navbar-expand-xl.navbar-light.bg-light {
    justify-content: center;
  }
  
  div#poke-container.modal.show{
    left: 10px;
  }

  ul.navbar-nav {
    align-items: center;
  }

  a.nav-link {
    text-align: center;
  }

  div.col {
    text-align: center;
    font-size: 20px;
  }

  div.row.form {
    text-align: center;
    justify-content: center;
  }
}